@font-face {
	font-family: "Planer";
	src: url("fonts/Planer_Reg.woff");
}

@font-face {
	font-family: "SlabTallX";
	src: url("fonts/SlabTallX.woff");
}

@font-face {
	font-family: "SlabTallX-Medium";
	src: url("fonts/SlabTallX-Medium.woff");
}

* {
	margin: 0;
	padding: 0;
}

*:hover {
	transition: opacity .6s, color .6s;
	-webkit-transition: opacity .6s, color .6s; /* Darn you, Safari... */
}

body {
	text-align: center;
	font-family: "Planer", Arial, sans-serif;
	font-size: 16px;
	background: url("images/bg.jpg");
}

a {
	text-decoration: none;
	color: #ad6400;
}

a:hover {
	color: #ef9111;
}

.clear {
	clear: both;
}

.clear-right {
	clear: right;
}

.clear-left {
	clear: left;
}

.titles {
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(255, 255, 255, .5);
}

#container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

#links {
	float: right;
	font-size: 18px;
	font-family: "SlabTallX-Medium", "SlabTallX", Tahoma, sans-serif;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(255, 255, 255, .5);
	margin-top: 50px;
	margin-right: 35px;
}

#links a {
	color: #fff;
}

#links .link {
	text-align: center;
	float: left;
	padding-top: 20px;
	margin-right: 10px;
	opacity: .6;
}

#links .link:hover {
	opacity: 1;
}

#links #projects-link {
	background: url("images/projects-link-bg.png") no-repeat;
	width: 119px;
	height: 122px;
}

#links #github-link {
	background: url("images/github-link-bg.png") no-repeat;
	width: 129px;
	height: 122px;
}

#links #facebook-link {
	background: url("images/facebook-link-bg.png") no-repeat;
	width: 116px;
	height: 115px;
}

#hat-guy {
	background: url("images/hat-guy.png") no-repeat;
	width: 216px;
	height: 307px;
	margin-left: 35px;
	margin-bottom: -40px;
}

#about {
	background: url("images/about-bg.png") no-repeat;
	width: 807px;
	height: 208px;
	font-size: 18px;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(255, 255, 255, .5);
	padding: 35px 40px 0 50px;
}

#about #cheers {
	float: left;
	font-size: 58px;
	height: 50px;
	margin-right: 10px;
}

#projects {
	padding-top: 35px;
	margin-left: 15px;
}

#projects .title {
	position: relative;
	margin-top: 20px;
	margin-bottom: -20px;
	font-family: "SlabTallX", Tahoma, sans-serif;
	font-size: 26px;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(255, 255, 255, .5);
	width: 391px;
	height: 37px;
	padding: 4px 35px 0 35px;
}

#projects #title-1 {
	background: url("images/title-1.png") no-repeat;
}

#projects #title-2 {
	background: url("images/title-2.png") no-repeat;
	text-align: right;
	float: right;
}

#projects #title-3 {
	background: url("images/title-3.png") no-repeat;
}

#projects .project {
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	background: rgba(255, 255, 255, .2);
	width: 800px;
	padding: 35px 20px 20px 20px;
	min-height: 200px;
}

#projects .a {
	margin-left: 25px;
}

#projects .a img {
	float: left;
	margin-right: 20px;
}

#projects .b {
	margin-left: 18px;
}

#projects .b img {
	float: right;
	margin-left: 20px;
}

#projects .a img, #projects .b img {
	width: 200px;
	height: 200px;
	box-shadow: -1px -1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .5);
}

.button {
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	background: #3f9854;
	height: 20px;
	max-width: 250px;
	padding: 5px 8px;
	font-family: "SlabTallX", Tahoma, sans-serif;
	font-size: 16px;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(255, 255, 255, .5);
	margin-right: 10px;
	margin-bottom: 7px;
	opacity: .7;
}

.button:hover {
	opacity: 1;
}

.git {
	background-color: #3f6d98;
}

#projects .a .button img, #projects .b .button img {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 8px;
	box-shadow: none;
	float: left;
}

#projects .a .button {
	float: right;
}

#projects .b .button {
	float: left;
}

#footer {
	text-align: right;
	margin: 30px;
}

#footer a {
	opacity: .7;
}

#footer a:hover {
	opacity: 1;
}